/* Header Styling */
.header {
  background-color: pink;
  margin: 0;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header button{
  margin: 10px;
}
/* Logo Styling */
.logo {
  font-size: 24px;
  font-weight: bold;
}

/* Navigation Links */
.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: darkred;
}

/* Body Styling */
.body {
  position: relative;
  padding: 20px;
  background-color: white;
}

.landing_page{
  background-color: black;
  color: white;
  width: 100%;
  height: 80%;
  display: flex;
}

.title{
  background-color: white;
  color: black;
  padding-left: 80px;
  width: 40%;
  font-size: 30px;
}

.content{
  background-color: black;
  width: 60%;
  padding: 40px;
}

.content button{
  margin-top: 100px;
  margin-left: 10px;
  padding: 20px;
  border-radius: 10px;
}

